<style>
    #background-image-block {
            position: absolute;
            height: 100%;
        }
        #background-image {
            position: absolute;
            width: 100%;
        }
</style>
<div class="background-image-block">
    <img id="background-image" src="/images/background.jpg">
</div>
