<style>
    header {
        position: fixed;
        width: calc(100vw - 52px);
        display: flex;
        background-color: #0009;
        backdrop-filter: blur(3px);
        padding: 0 25px;
        z-index: 1000;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    #name {
        display: flex;
    }
    #name img {
        height: 40px;
        margin: 15px 10px;
    }
    #signup {
        position: inherit;
        right: 10px;
        margin: 15px;
    }
</style>
<a id="name" href="/">
    <img id="header-icon" src="/images/favicon.svg" type="image/svg+xml">
    <h2>StudySpace</h2>
</a>
<button class="default-block" id="signup" onclick="signup_button()">Sign up</button>
<script>
    function signup_button() {
        window.location.href = "/signup";
    }
</script>
