<style>
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        display: flex;
        background: linear-gradient(to bottom, #161620, #161620, #161620, #16162000);
        padding: 0 25px;
        z-index: 1000;
    }
    header img {
        height: 40px;
        margin: 15px 10px;
    }
    #signup {
        position: inherit;
        right: 10px;
        margin: 15px;
    }
</style>
<img src="/images/favicon.svg" type="image/svg+xml">
<h2>Study Space</h2>
<button id="signup">Sign up</button>
