<style>
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        display: flex;
        background: linear-gradient(to bottom, #161620, #161620, #161620, #16162000);
        padding: 0 25px;
        z-index: 1000;
    }
    header img {
        height: 40px;
        margin: 15px 10px;
    }
    #name {
        display: flex;
    }
    #signup {
        position: inherit;
        right: 10px;
        margin: 15px;
    }
</style>
<a id="name" href="/">
    <img src="/images/favicon.svg" type="image/svg+xml">
    <h2>StudySpace</h2>
</a>
<button id="signup" onclick="signup_button()">Sign up</button>
<script>
    function signup_button() {
        window.location.href = "/signup";
    }
</script>
