<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content=<%= meta.description %>>
<meta name="keywords" content="Социальная сеть для студентов, Учебные ресурсы для студентов, Студенческое сообщество, Общение для студентов, Совместные учебные проекты, Обмен учебными материалами, Поиск одногруппников, Учебные группы онлайн, Форум для студентов, Задачи для студентов">
<meta name="author" content="Dawid Polywiany">
<title><%= meta.title %></title>

<!-- Подключение стилей -->
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<!-- Внешние скрипты -->
<script src="/js/script.js" defer></script>
