<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <style>
            .glass-block {
                backdrop-filter: none;
                background-color: #07070a;
            }
            /* header */
            header {
                position: fixed;
                z-index: 1000;
            }
            #chat-name-block {
                position: fixed;
                right: 0;
                padding: 0;
                width: calc(100vw - 62px);
                border: none;
            }
            #chat-name {
                display: flex;
                flex-direction: row;
            }
            #chat-name img {
                margin: 15px 10px;
                height: 40px;
                border-radius: 50px;
            }

            /*Боковая панель*/
            #chats {
                position: fixed;
                top: 0;
                height: 100vh;
                width: 60px;
                background-color: #232333;
                transition: all 0.3s ease;
            }
            #chats:hover {
                width: 350px;
            }
            #chats ul {
                padding: 0px;
                list-style: none;
            }
            #chats li {
                display: flex;
            }
            #chats img {
                margin: 10px;
                height: 40px;
                border-radius: 50px;
            }
            #chats h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 20px;
            }
            .action-chat {
                border: 1px solid #fff;
                border-radius: 5px;
            }

            /*main*/
            main {
                position: fixed;
                right: 0;
                width: calc(100vw - 70px);
                height: calc(100vh - 150px);
                padding: 10px 0;
                overflow-y: overlay;
            }
            .self-message, .your-message {
                position: relative;
                left: 0;
                width: 200px;
                margin: 10px;
                word-wrap: break-word;
                box-shadow: none;
                background-color: #3b884e;
            }
            .self-message {
                margin-left: auto;
                background-color: #3AB559;
            }

            /*footer*/
            footer.glass-block {
                position: fixed;
                bottom: 0;
                right: 0;
                padding: 10px;
                width: calc(100vw - 82px);
            }
            #send-block {
                padding: 0;
                display: flex;
                flex-direction: row;
            }
            #send-block input {
                width: calc(75vw - 82px);
                margin: 0 10px;
                border-radius: 100px;
            }
            #send-block button {
                width: 45px;
                height: 45px;
                padding: 10px;
            }
            #send-block svg {
                width: 25px;
                height: 25px;
                fill: #fff;
            }
            /* media blocks */
            @media (min-aspect-ratio: 3/2) {
                #chats {
                    width: 350px;
                }
                main {
                    width: calc(100vw - 360px);
                }
                footer.glass-block {
                    width: calc(100vw - 372px);
                }
                #send-block input {
                    width: calc(70vw - 372px);
                    margin: 0 10px;
                }
            }
        </style>
    </head>
    <body>
        <header>
            <div id="chat-name-block" class="glass-block">
                <div id="chat-name">
                    <img src="/images/admin-icon.jpeg">
                    <h2>My chat</h2>
                </div>
            </div>
            <nav id="chats">
                <ul>
                    <li class="action-chat">
                        <img src="/images/admin-icon.jpeg">
                        <h3>Chat name</h3>
                    </li>
                    <li>
                        <img src="/images/admin-icon.jpeg">
                        <h3>Chat name</h3>
                    </li>
                    <li>
                        <img src="/images/admin-icon.jpeg">
                        <h3>Chat name</h3>
                    </li>
                    <li>
                        <img src="/images/admin-icon.jpeg">
                        <h3>Chat name</h3>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="messages">
                <div class="default-block your-message">Hello!</div>
                <div class="default-block self-message">Hi! How are you?</div>
                <div class="default-block self-message">sdfj bfwjfbwjfbwjhhhhhh hhhhhhh h hhhhhhh hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
                <div class="default-block your-message">sdfj bfwjfbwjfbwjhhhhhh hhhhhhh h hhhhhhh hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
                <div class="default-block your-message">sdfj bfwjfbwjfbwjhhhhhh hhhhhhh h hhhhhhh hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
                <div class="default-block self-message">sdfj bfwjfbwjfbwjhhhhhh hhhhhhh h hhhhhhh hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
            </div>
        </main>
        <footer class="glass-block">
            <div id="send-block">
                <input class="default-input" placeholder="input message">
                <button class="default-block"><%- include("../public/icons/send-ico.ejs") %></button>
            </div>
        </footer>
    </body>
</html>
