<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <style>
            main .glass-block {
                position: inherit;
                top: 65px;
                margin: auto;
                width: 80%;
                max-width: 350px;
            }
            main .glass-block input {
                margin: 5px;
            }
            main h4 {
                margin: 5px 10px;
            }
        </style>
    </head>
    <body class="decorated-body">
        <header><%- include("./partials/header") %></header>
        <main>
            <%- include("./partials/background-image") %>
            <div class="glass-block">
                <h2>About us</h2>
                <h4>
                    Description: "StudySpace is a social network for students, designed to help you learn, connect and grow. We believe that the student community should be supportive and inspiring, and access to educational materials and information should be as easy as possible."
                </h4>
            </div>
            <br>
            <div class="glass-block">
                <h4>Did you like it?</h4>
                <h4><a href="/signup">Create a new account</a> or <a href="/">log in</a></h4>
            </div>
        </main>
        <footer><%- include("./partials/footer") %></footer>
    </body>
</html>
