<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <style>
            main .glass-block {
                position: inherit;
                top: 65px;
                margin: auto;
                width: 80%;
                max-width: 350px;
            }
            main .glass-block input {
                margin: 5px;
            }
            main h4 {
                margin: 5px 10px;
            }
        </style>
    </head>
    <body class="decorated-body">
        <header><%- include("./partials/header") %></header>
        <main>
            <%- include("./partials/background-image") %>
            <div class="glass-block">
                <h2>Reset your password</h2><br>
                <h4>Enter your account's verifield email address and we will send you a password reset link.</h4>
                <form>
                    <input class="default-input" placeholder="Enter your email address"><br><br>
                    <button type="submit">Send password reset email</button>
                </form>
            </div>
            <br>
            <div class="glass-block">
                <h4>New in StudySpace? <a href="/signup">Create an account</a></h4>
            </div>
        </main>
        <footer><%- include("./partials/footer") %></footer>
    </body>
</html>
