<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <header></header>
        <main>Hello World!</main>
        <footer></footer>
    </body>
</html>
