<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <style>
            main .glass-block {
                position: inherit;
                top: 65px;
                margin: auto;
                width: 80%;
                max-width: 350px;
                text-align: left;
            }
            main .glass-block input {
                margin: 5px;
            }
            main h4 {
                margin: 5px 10px;
            }
            #name-area input {
                width: 80px;
            }
        </style>
    </head>
    <body class="decorated-body">
        <header><%- include("./partials/header") %></header>
        <main>
            <%- include("./partials/background-image") %>
            <div class="glass-block">
                <h2>Registration</h2>
                <form>
                    <h4>Email</h4>
                    <input class="default-input" id="login" placeholder="email"><br>
                    <h4>Password</h4>
                    <input class="default-input" id="password" type="password" placeholder="enter your password"><br><br>

                    <h4>User name</h4>
                    <input class="default-input" id="login" placeholder="username"><br>
                    <h4>First and last name</h4>
                    <table id="name-area">
                        <tr>
                            <td><input class="default-input" id="login" placeholder="name"></td>
                            <td><input class="default-input" id="login" placeholder="last name"></td>
                        </tr>
                    </table><br><br>
                    <button>Sign up</button>
                </form>
            </div><br>
        </main>
        <footer><%- include("./partials/footer") %></footer>
    </body>
</html>
