body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #161620;
}
main {
    position: relative;
    top: 65px;
    padding-bottom: 100px;
    min-height: calc(100vh - 250px);
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #42CF66;
}
h2, h3 {
    color: #fff;
    text-shadow: 5px 5px 10px #0009;
}
h4, p {
    line-height: 23px;
    color: #F8F7D8;
}
summary {
    list-style: none;
}
.decorated-body {
    background: linear-gradient(to bottom, #161620, #24142E, #3B1830, #802838);
    background-repeat: no-repeat;
}
.default-input {
    width: 220px;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0007;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px #0009;
}
.default-block {
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    background-color: #3AB559;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px #0009;
}
.glass-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 35px;
    background-color: #0007;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    border: 1px solid #fff;
    box-shadow: 10px 10px 20px #0009;
}
